/*  Register page form  */

/*  Background Image  */
/* .register-bg {
    
} */
/*  form notes  */
ul {
    font-size: 12px;
}


#register-form-page {
    margin-top: 10%;
}


/*       Login Page       */

/* Background Image */
.bg-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url(../media/login-2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    z-index: -1;
    filter: blur(4px);
}

/*  Login - Register Form  */
#login-register-form {
    z-index: 1;
}

#login-form {
    padding-top: 18%;
    padding-bottom: 7%;
    z-index: 1;
}

#register {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#not-a-member {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}

/* Login Card */
.card {
    background-color: #005a5fe4;
    margin: 0 auto;
}


#login-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}