/*      My Reviews Template page      */

.my-reviews-container {
    --bs-gutter-x: 0;
}


/* Page header */

#my-reviews-header {
    font-size: 3.5rem;
    position: relative;
    font-family: fantasy;
    color: rgb(188 124 0);

    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    text-shadow:
        0 0 5px #004043,
        0 0 10px #004043,
        0 0 20px #004043,
        0 0 40px #004043,
        0 0 80px #004043,
        0 0 90px #004043,
        0 0 100px #004043,
        0 0 150px #004043;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    #my-reviews-header {
        margin-top: 12%;
        font-size: 3.0rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
    #my-reviews-header {
        font-size: 2.5rem;
        margin-top: 17%;
    }
}

@media screen and (min-width: 355px) and (max-width: 499px) {
    #my-reviews-header {
        font-size: 2.0rem;
        margin-top: 25%;
    }
}


/*  My Reviews Page Background  */

#my-reviews-bg {
    min-height: 100vh;
    background: url(../media/user-profile-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}


.container p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Review  */
.review-item-my-reviews {
    width: 60vw;
    margin: auto;
    border: none;
    border-radius: 5px;
    margin-bottom: 5%;
    background-color: #00243ff2;
    display: block;
}

@media screen and (min-width: 355px) and (max-width: 631px) {
    .review-item-my-reviews {
        display: block;
        width: 100%;
    }
}


.review-title-bg {
    width: 100%;
}

.row {
    --bs-gutter-x: 0;
}

/*  Movie title "MY Reviews" Page  */
.review-movie-title {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size: 21px;
    background-color: #006f7f44;
    border-radius: 5px 5px 0 0;
}

/* Review written by User */

.review-user-my-reviews {
    color: rgb(192 157 0 / 92%);
    font-size: 18px;
}


/* Review text content */
.review-text {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5px;
    font-size: 15px;
    color: #ffffffdb;
}

/*   Reviews info and action divs   */
.actions-and-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-actions {
    display: flex;
    gap: 1rem;
}


/* Edit Review Button */
#edit-review-button {
    margin-left: 5px;
    background-color: #1f4ce5;
    border: 1px solid rgba(255, 255, 255, 0);
    color: white;
}

#edit-review-button:hover {
    background-color: black;
    color: #1f4ce5;
    border: 1px solid #1f4ce5;
}


.overview-button-my-reviews {
    background-color: #bc7c0030;
    color: burlywood;
    border: 1px solid rgb(255 200 0);
    float: left;

    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    margin-left: 5px;
}

.overview-button-my-reviews:hover {
    background-color: #92610030;
    border: 1px solid rgb(255, 111, 0);
}

.fa-film {
    font-size: 15px;
    padding-top: 3px;
    color: burlywood;
}

/* User Rating */
.rating-user {
    font-size: 21px;
    color: #eeff00b9;
    max-width: 100%;
    text-align: center;
}

/* Review Created Date */
.date-created {
    font-size: 12px;
    color: rgba(255, 251, 0, 0.315);
    text-align: center;
}

/* Delete Review */
#delete-my-review {
    margin-right: 5px;
    background-color: #bf0000;
    border: 1px solid rgba(255, 255, 255, 0);
    color: white;
}

#delete-my-review:hover {
    background-color: black;
    color: #bf0000;
    border: 1px solid #bf0000;
}


/* Edit Reviws Modal */

.edit-review-modal-div {
    margin-bottom: 5%;
}

.edit-review-modal-div {
    margin-top: 7%;
}

.modal-header {
    background-color: #006aa0;
    color: white;
}

.edit-my-review-label {
    color: aqua;
}

#edit-review-form-my-reviews {
    margin-top: 0;
}

.edit-my-review-modal-body {
    background-color: rgb(0 49 68 / 88%);
}

.edit-star-rating {
    margin-bottom: 5px;
}

.edit-rate-movie-p {
    text-align: center;
    color: aqua;
    margin-bottom: 0;
}

#edit-stars-div {
    transform: scale(0.9);
    display: grid;
    place-items: center;
}

.modal-footer {
    padding: 0;
    border-top: none;
}

#save-edited-review-button {
    background-color: rgb(60, 100, 0);
    color: greenyellow;
    border: 1px solid rgba(0, 0, 0, 0);
}

#save-edited-review-button:hover {
    background-color: greenyellow;
    color: rgb(60, 100, 0);
    border: 1px solid rgb(60, 100, 0);
}

#close-edited-review-button {
    background-color: rgba(0, 0, 0, 0.897);
    color: rgb(98, 125, 125);
    border: 1px solid rgba(0, 0, 0, 0);
}

#close-edited-review-button:hover {
    background-color: rgb(98, 125, 125);
    color: black;
    border: 1px solid black;
}

/* Show Full Review LINK  for "my_reviews.html" and "movie_overview.html" */
.show-full-review {
    font-family: monospace;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    background-color: #00ff626b;
    border-radius: 5px;
    padding: 4px;
}

.show-full-review:hover {
    background-color: black;
    color: #00ff626b;
}