/*      My Reviews Template page      */
#my-reviews-header {
    margin-left: 5%;
    margin-top: 15%;
    color: white;
    font-size: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*  My Reviews Page Background  */
#user-profile-bg {
    min-height: 100vh;
    background: url(../media/user-profile-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
    margin-bottom: 10px;
}

.my-reviews-div {
    margin-top: 13%;
    padding-left: 0;
}

review-item {
    width: 60vw;
    margin: auto;
}

.user-profile-div {
    margin-top: 13%;
}

.review-title-bg {
    width: 100%;
}

.row {
    --bs-gutter-x: 0;
}

.review-user {
    padding-top: 5px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size: 19px;
    background-color: #ffd50044;
    color: #007bff;
    border-radius: 5px 5px 0 0;
}

#review-user {
    color: rgba(0, 255, 68, 0.689);
}

.review-text {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5px;
    font-size: 19px;
    color: #ffffffdb;
}

.rating-user {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5px;
    
    font-size: 21px;
    color: #eeff00b9;
    max-width: 100%;
    text-align: center;
}

.date-created {
    font-size: 12px;
    color: rgba(255, 251, 0, 0.315);
    text-align: center;
    padding-bottom: 5px;
}