/* Edit Profile forms */

.profile-container {
    --bs-gutter-x: 0;
}

#user-profile-header {
    margin-left: 5%;
    margin-top: 3%;
    color: rgba(255, 140, 0, 0.758);
    font-size: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*  username and email  */
.user-info {
    margin-left: 5%;
    color: rgba(196, 196, 196, 0.849);
    font-size: 20px;
}

p.user-info strong {
    color: white;
}

/*  User Profile Page Background  */
#user-profile-bg {
    min-height: 100vh;
    background: url(../media/user-profile-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
    margin-bottom: 10px;
}

#edit-profile-button {
    margin-bottom: 20px;
    margin-left: 5%;
    background-image: url(../media/edit-profile-button.png);
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

#edit-profile-button:hover {
    background-image: url(../media/edit-profile-button-hover.png);
}


.my-reviews-div-profile {
    margin-top: 8px;
}


#my-reviews-button {
    margin-bottom: 20px;
    margin-left: 5%;
    background-image: url(../media/my-reviews-button.png);
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    width: auto;
}

#my-reviews-button:hover {
    background-image: url(../media/my-reviews-button-hover.png);
}


#delete-account-button {
    margin-bottom: 20px;
    margin-left: 5%;
    background-color: rgb(184, 6, 6);
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    width: auto;
}

#delete-account-button:hover {
    background-color: black;
    color: red;
    border: 1px solid rgb(113, 0, 0);
}

/*    Modal Delete Verification    */

#deleteAccountModal {
    margin-top: 10%;
}

.modal-backdrop {
    z-index: 1;
}

.modal-header {
    background-color: burlywood;
    color: black;
}

.modal-body {
    background-color: blanchedalmond;
    color: black;
}


.user-profile-div {
    margin-top: 13%;
}


#edit-profile-form {
    /* background-color: #0236776e; */
    background-image: url(../media/profile-form.png);
    padding: 20px;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    /* border: 2px double #00bfff54; */

}


#edit-profile-form button {
    background-color: #000d9c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/*  Profile form headers  */
form .form-headers {
    color: #ff8c00be;
}

#change-password-header {
    margin-top: 5%;
}


.form-control-profile {
    margin-bottom: 5px;
    display: block;
    width: 70%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: antiquewhite;
    appearance: none;
    background-color: #0236776e;
    background-clip: padding-box;
    border: 2px solid rgba(0, 179, 255, 0.269);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input#id_email.form-control-profile {
    background-color: #0236776e;
}

input#id_email.form-control-profile::placeholder {
    color: rgba(121, 121, 121, 0.703);
}

#id_email.form-control-profile:focus {
        background-color: black;
        color: white;
        border: 2px double rgb(0, 197, 215);
}


.password-fields-custom {
    background-color: #0236776e;
}

.password-fields-custom::placeholder {
    color: rgba(121, 121, 121, 0.703);
}

.password-fields-custom:focus {
    background-color: black;
    color: white;
    border: 2px double rgb(0, 197, 215);
}

/*      Alert Messages      */

.messages-container {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 10000;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: fit-content;
}

.alert {
    margin: 0 10px !important;
    pointer-events: auto;
}

/* Success message */
body .alert-success {
    color: black !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}

/* Error Messages */
body .alert-error {
    color: black !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}


/* Close success message */

.close {
    color: black;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.close:hover {
    color: white;
    background-color: black;
}