/*     Movie Search Page    */

.search-page-container{
    --bs-gutter-x: 0;
}
/* search page background image */
.search-results-bg {
    min-height: 100vh;
    background: url(../media/space1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; 
}
/* background image overlay */
.search-results-bg-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
    z-index: 2; 
}

.search-content-details {
    z-index: 10;
}