/*          Movie Search Page          */

.search-page-container{
    --bs-gutter-x: 0;
}

/* Search Result Page Headers */

.search-result-headers {
    font-size: 3.5rem;
    position: relative;
    font-family: fantasy;
    color: #00bbc8dc;
text-shadow:
    0 0 5px #004043,
    0 0 10px #004043,
    0 0 20px #004043,
    0 0 40px #004043,
    0 0 80px #004043,
    0 0 90px #004043,
    0 0 100px #004043,
    0 0 150px #004043;
}

.search-result-headers {
    margin-top: 10%;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .search-result-headers {
        margin-top: 12%;
        font-size: 3.0rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
    .search-result-headers {
        margin-top: 17%;
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 355px) and (max-width: 499px) {
    .search-result-headers {
        margin-top: 25%;
        font-size: 2.0rem;
    }
}


/* search page background image */

.search-results-bg {
    min-height: 100vh;
    background: url(../media/space1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; 
}

/* background image overlay */

.search-results-bg-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
    z-index: -1; 
}
