/*   Centered Elements   */

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-results-not-found {
    margin-top: 75px;
    font-size: 70px;
    font-family: fantasy;
}

h1.text-center strong {
    font-size: 4.5rem;
    color: #00bbc8dc;
    text-shadow:
        0 0 5px #004043,
        0 0 10px #004043,
        0 0 20px #004043,
        0 0 40px #004043,
        0 0 80px #004043,
        0 0 90px #004043,
        0 0 100px #004043,
        0 0 150px #004043;
}



/*   Login Form   */

/* Background Image */
.callout-container {
    min-height: 100vh;
    background: url(../media/PNG.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#login-form {
    padding-top: 18%;
    padding-bottom: 7%;
}

#register {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#not-a-member {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}

.card {
    background-color: rgba(255, 0, 0, 0.406);
}

#login-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



/* Edit Profile forms */

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
    margin-bottom: 10px;
}

#edit-profile-button {
    margin-bottom: 20px;
}

#errorlist {
    color: red;
    font-size: 14px;
}

#edit-profile-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

#edit-profile-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/* Close success message */

.close {
    color: black;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.close:hover {
    color: white;
    background-color: black;
}


/*   Movie Search   */

#search-results-bg {
    min-height: 100vh;
    background: url(../media/space1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Cover Image */
.image-movie {
    width: 60%;
    height: auto;
    display: block;
    margin-right: 20px;
    display: inline-block;
}

/* Fallback Image */
.fallback-image {
    border-radius: 50%;
}

/* Movie Not Found */
#movie-not-found {
    font-size: 4.5rem;
    color: #c20505dc;
    text-shadow:
        0 0 5px #740202dc,
        0 0 10px #740202dc,
        0 0 20px #740202dc,
        0 0 40px #740202dc,
        0 0 80px #740202dc,
        0 0 90px #740202dc,
        0 0 100px #740202dc,
        0 0 150px #740202dc;
}

#search-movie-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;

    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image:
            url("../media/text-bg-search.png");
        background-size: 110% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}


#search-movie-review {
    color: rgba(255, 255, 255, 0.788);
}

#search-movie-overview {
    color: rgba(182, 174, 174, 0.865);
    font-size: 20px;
    padding-top: 15px;
}

.release-vote {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.626);
    font-size: 19px;

}

/* release-date */
.blue {
    font-family: 'Lato', sans-serif;
    color: #ff000088;
    font-size: 21px;
}

/* rating */
.yellow {
    font-family: 'Lato', sans-serif;
    color: #fff7006d;
    font-size: 21px;
}

.block-divider {
    width: 50%;
    height: 8px;
    background-color: #00fbff5f;
    margin: 0 auto;
}


.movie {
    align-items: center;
    margin-bottom: 20px;
    display: flex;
}

.movie h3 {
    margin: 10px 0;
}

.movie h4 {
    margin: 10px 0;
}

.movie-details {
    text-align: left;
}

.movie-details h3 {
    margin: 10px 0;
}

.movie-details h4 {
    margin: 10px 0;
}





/*   Footer   */
.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.errorlist {
    font-size: 12px;
}