/*   Centered Elements   */

.container .base {
    display: flex;
    justify-content: space-between;
}

.navbar-item {
    margin-right: auto;
}


/*   Navbar   */
.navbar {
    font-family: 'Lato', sans-serif; 
}

.navbar-brand {
    color: #00bbc8dc;
}

.nav-link {
    color: #fff; 
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffffffdc;
}

.news-nav-movielist{
    color: #a6477c;
}

.news-nav-movielist:hover {
    color: red;
}

/* Login / Register in navbar */
.custom-slash {
    color: #003e40;
}

.login-register {
    color: #00acb56f;
}



/* Centrera logotypen */
.brand-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 34px;
}

/* Search button */
.btn-outline-light {
    border-color: #00bbc8dc; 
    color: #00bbc8dc;
}

.btn-outline-light:hover {
    background-color: #00bbc8dc; 
    color: #fff; 
}

.dropdown-menu {
    position: absolute;
    width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-results-not-found {
    margin-top: 75px;
    font-size: 70px;
    font-family: fantasy;
}

h1.text-center strong {
    font-family: fantasy;
    font-weight: 100;
    font-size: 4.5rem;
    color: #00bbc8dc;
    text-shadow:
        0 0 5px #004043,
        0 0 10px #004043,
        0 0 20px #004043,
        0 0 40px #004043,
        0 0 80px #004043,
        0 0 90px #004043,
        0 0 100px #004043,
        0 0 150px #004043;
}


/*  Register page form  */

/*  Background Image  */
/* .register-bg {
    
} */

#register-form-page {
    margin-top: 10%;
}


/*   Login Form   */

/* Background Image */
.bg-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url(../media/login-2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    z-index: -1;
    filter: blur(4px);
}

#login-register-form {
    z-index: 1;
}

#login-form {
    padding-top: 18%;
    padding-bottom: 7%;
    z-index: 1;
}

#register {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#not-a-member {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}

/* Login Card */
.card {
    background-color: #005a5fe4;
    margin: 0 auto;
}


#login-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Edit Profile forms */

.profile-container {
    --bs-gutter-x: 0;
}

.col {
    margin-top: 10%;
}

#user-profile-header {
    margin-left: 5%;
    color: white;
    font-size: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user-info {
    margin-left: 5%;
    color: rgba(255, 255, 255, 0.849);
}

#user-profile-bg {
    min-height: 100vh;
    background: url(../media/user-profile-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
    margin-bottom: 10px;
}

#edit-profile-button {
    margin-bottom: 20px;
    margin-left: 5%;
}

.user-profile-div {
    margin-top: 13%;
}


#edit-profile-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-left: 5%;
}


#edit-profile-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/*   User Profile reviews   */
#my-reviews-header {
    margin-left: 5%;
    margin-top: 15%;
    color: white;
    font-size: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Close success message */

.close {
    color: black;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.close:hover {
    color: white;
    background-color: black;
}


/*     Movie Search Page    */

.search-page-container{
    --bs-gutter-x: 0;
}

.search-results-bg {
    min-height: 100vh;
    background: url(../media/space1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; 
}

.search-results-bg-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
    z-index: 2; 
}

.search-content-details {
    z-index: 10;
}


/*     Movie Overview Page     */

#movie-overview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 10%;

    background: url(../media/overview-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    z-index: -2;
}

#movie-overview::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)); /* halvgenomskinlig svart färg */
    z-index: 1; 
}

.movie-details {
    padding-top: 5%;
}

.overview-container {
    padding-top: 10%;
    min-height: 100vh;
}

/*    Trailer    */
iframe {
    margin-bottom: 8%;
    padding-top: 5%;
    border: none;
    padding: 8px;
    background-color: #212829c3;
    border-radius: 10px;
}

/*  Trailer Fallback Image  */
.trailer-404 {
    width: 350px;
    height: 350px;

    background: url('../media/trailer-404.gif');
    position: relative;
    z-index: -1;
    border-radius: 50%;
    
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    background-size: cover;
    display: flex;
    align-items: center;
}

hr.overview-block {
    width: 60%;
    height: 8px;
    background-color: #00fbff5f;
    margin-bottom: 10%;
}
/*    User Reviews    */

.review-container {
    padding-top: 5%;
}

.review-item {
    border: 1px solid rgba(0, 255, 68, 0.689);
    border-radius: 5px;
    margin-bottom: 5%;
}

.reviews {
    border: 1px solid #108b9444;
    border-radius: 5px;
    width: 50%;
}

/* Hide review */
.hidden-review {
    display: none;
}

/* Show review */
.show-review {
    display: block;
}

.review-user {
    padding-top: 5px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size: 19px;
    background-color: #108b9444;
    color: #007bff;
    border-radius: 5px 5px 0 0;
}

#review-user {
    color: rgba(0, 255, 68, 0.689);
}

.review-text {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5px;
    font-size: 19px;
    color: #ffffffdb;
}

.rating-user {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5px;
    
    font-size: 21px;
    color: #eeff00b9;
    max-width: 100%;
    text-align: center;
}

.date-created {
    font-size: 12px;
    color: rgba(255, 251, 0, 0.315);
    text-align: center;
    padding-bottom: 5px;
}

.signin-4-review {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#f2ff00b5; 
    padding-top: 9%;
    font-size: 22px;
    text-align: center;
}


/*    Review Form    */
.review-form {
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 6px;
    margin-top: 8%;
    padding-left: 6px;
    padding-right: 6px;
}

.review-input::placeholder {
    font-size: 12px;
    color: rgba(81, 81, 81, 0.753);
}

.review-form textarea,
.review-form input {
    background-color: rgba(255, 255, 255, 0.3);
}

.review-form button {
    background-color: #10a3ade5;
    margin-top: 4vmin;
    margin-bottom: 6px;
}

.transparent-input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.5);
}

.transparent-input:focus {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4); 
    box-shadow: none;
    outline: none;
}

.transparent-button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.466);
    border: none;
}

.user-review-label {
    color: rgba(62, 213, 255, 0.686);
    margin-left: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

.rate-movie-p {
    color: rgba(62, 213, 255, 0.686);
    margin-left: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
}


/*        STAR RATING        */
:root {
	--tb: #ffffff40;
	--tbh: #ffffff70;
	--tran: all 0.5s ease 0.1s;	
}		


.rating-stars {
    display: block;
    width: 30vmin;
    padding-bottom: 1vmin;
    border-radius: 5vmin;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(15deg);
    height: 20px;
}

input.star-label { display: none; }

.star-label {
	width: 10vmin;
	height: 10vmin;
	cursor: pointer;
	margin: 0.5vmin 1.5vmin;
	transition: var(--tran);
	transition-delay: 0s;
	position: relative;
}

.star-label:before {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "\2605";
	z-index: 2;
	font-size: 5.5vmin;
	line-height: 11vmin;
	color: #b1ddff;
	text-align: center;
	transform: translateY(0vmin);
	transition: var(--tran);
	text-shadow: 
		1px 1px 1px var(--tb), 
		-1px -1px 1px var(--tb), 
		-1px 0px 1px var(--tb), 
		1px 0px 1px var(--tb), 		
		0vmin 0.1vmin 1px #1d8be1, 
		0vmin 0.1vmin 1px #1d8be1, 
		0vmin 0.2vmin 1px #1b81d1, 
		0vmin 0.2vmin 1px #1b81d1, 
		0vmin 0.3vmin 1px #1972b7, 
		0vmin 0.3vmin 1px #1972b7, 
		0vmin 0.4vmin 1px #1a76bd, 
		0vmin 0.4vmin 1px #1a76bd, 
		0vmin 0.5vmin 1px #196fb1, 
		0vmin 0.5vmin 1px #196fb1, 
		0vmin 0.6vmin 1px #1868a5, 
		0vmin 0.6vmin 1px #1868a5, 
		0vmin 0.7vmin 1px #155f97, 
		0vmin 0.7vmin 1px #155f97, 
		0vmin 0.8vmin 1px #125689, 
		0vmin 0.8vmin 1px #125689, 
		0vmin 0.9vmin 1px #104e7d, 
		0vmin 0.9vmin 1px #104e7d, 
		0vmin 1.0vmin 1px #104975, 
		0vmin 1.1vmin 1px #104975, 
		0vmin 1.1vmin 1px #0e4169, 
		0vmin 1.2vmin 1px #0e4169, 
		0vmin 1.2vmin 1px #0c395d, 
		0vmin 1.3vmin 1px #0c395d, 
		0vmin 1.3vmin 1px #0a3151, 
		0vmin 1.4vmin 1px #0a3151, 
		0vmin 1.4vmin 1px #092c49, 
		0vmin 1.5vmin 1px #092c49, 
		0vmin 1.5vmin 1px #072239, 
		0vmin 1.6vmin 1px #072239, 
		0vmin 1.6vmin 3px #00000020;
	filter: drop-shadow(0px 5px 10px #008dff) drop-shadow(0px 5px 30px #008dff);		
}

.star-label:hover:before {
	color: #e2f2ff;
	filter: drop-shadow(0px 5px 15px #b1ddff) drop-shadow(0px 5px 30px #b1ddff);
}




/*** unchecked:before ***/
input:checked + .star-label ~ .star-label:before, 
input:checked + .star-label ~ .star-label:hover:active:before {
	transition: var(--tran);
	color: #ffedb9;
	color: #18242f;
	transform: translateY(1.5vmin);
	filter: none;
	text-shadow: 
		1px 1px 1px var(--tbh), 
		-1px -1px 1px var(--tbh), 
		-1px 0px 1px var(--tbh), 
		1px 0px 1px var(--tbh), 
		0vmin 0.01vmin 1px #1d8be1, 
		0vmin 0.02vmin 1px #1d8be1, 
		0vmin 0.03vmin 1px #1b81d1, 
		0vmin 0.04vmin 1px #1b81d1, 
		0vmin 0.05vmin 1px #1972b7, 
		0vmin 0.06vmin 1px #1972b7, 
		0vmin 0.07vmin 1px #1a76bd, 
		0vmin 0.08vmin 1px #1a76bd, 
		0vmin 0.09vmin 1px #196fb1, 
		0vmin 0.10vmin 1px #196fb1, 
		0vmin 0.11vmin 1px #1868a5, 
		0vmin 0.12vmin 1px #1868a5, 
		0vmin 0.13vmin 1px #155f97, 
		0vmin 0.14vmin 1px #155f97, 
		0vmin 0.15vmin 1px #125689, 
		0vmin 0.16vmin 1px #125689, 
		0vmin 0.17vmin 1px #104e7d, 
		0vmin 0.18vmin 1px #104e7d, 
		0vmin 0.19vmin 1px #104975, 
		0vmin 0.20vmin 1px #104975, 
		0vmin 0.21vmin 1px #0e4169, 
		0vmin 0.22vmin 1px #0e4169, 
		0vmin 0.23vmin 1px #0c395d, 
		0vmin 0.24vmin 1px #0c395d, 
		0vmin 0.25vmin 1px #0a3151, 
		0vmin 0.26vmin 1px #0a3151, 
		0vmin 0.27vmin 1px #092c49, 
		0vmin 0.28vmin 1px #092c49, 
		0vmin 0.29vmin 1px #072239, 
		0vmin 0.3vmin 1px #072239, 
		0vmin 0.5vmin 3px #00000020;
}



/*** unchecked:hover:before ***/
input:checked + .star-label ~ .star-label:hover:before, 
.star-label ~ .star-label:hover:active:before {	
	color: #2196F3;
	transform: translateY(1vmin);
	text-shadow: 
		1px 1px 1px var(--tbh), 
		-1px -1px 1px var(--tbh), 
		-1px 0px 1px var(--tbh), 
		1px 0px 1px var(--tbh), 
		0vmin 0.02vmin 1px #1d8be1, 
		0vmin 0.04vmin 1px #1d8be1, 
		0vmin 0.06vmin 1px #1b81d1, 
		0vmin 0.08vmin 1px #1b81d1, 
		0vmin 0.10vmin 1px #1972b7, 
		0vmin 0.12vmin 1px #1972b7, 
		0vmin 0.14vmin 1px #1a76bd, 
		0vmin 0.16vmin 1px #1a76bd, 
		0vmin 0.18vmin 1px #196fb1, 
		0vmin 0.20vmin 1px #196fb1, 
		0vmin 0.22vmin 1px #1868a5, 
		0vmin 0.24vmin 1px #1868a5, 
		0vmin 0.26vmin 1px #155f97, 
		0vmin 0.28vmin 1px #155f97, 
		0vmin 0.30vmin 1px #125689, 
		0vmin 0.32vmin 1px #125689, 
		0vmin 0.34vmin 1px #104e7d, 
		0vmin 0.36vmin 1px #104e7d, 
		0vmin 0.38vmin 1px #104975, 
		0vmin 0.40vmin 1px #104975, 
		0vmin 0.42vmin 1px #0e4169, 
		0vmin 0.44vmin 1px #0e4169, 
		0vmin 0.46vmin 1px #0c395d, 
		0vmin 0.48vmin 1px #0c395d, 
		0vmin 0.50vmin 1px #0a3151, 
		0vmin 0.52vmin 1px #0a3151, 
		0vmin 0.54vmin 1px #092c49, 
		0vmin 0.56vmin 1px #092c49, 
		0vmin 0.58vmin 1px #072239, 
		0vmin 0.60vmin 1px #072239, 
		0vmin 1vmin 3px #00000020;	
}


.star-label[for=rs1]:before {
	transition-delay: 0.05s;
}
.star-label[for=rs2]:before {
	transition-delay: 0.1s;
}
.star-label[for=rs3]:before {
	transition-delay: 0.15s;
}
.star-label[for=rs4]:before {
	transition-delay: 0.2s;
}
.star-label[for=rs5]:before {
	transition-delay: 0.25s;
}




/*** Reload ***/
.star-label[for=rs0] {
	position: absolute;
	top: 20vmin;
	display: flex;
	align-items: center;
	justify-content: center;
}

.star-label[for=rs0]:before {
    --ar: #18242f;
	content: "";
    position: absolute;
    width: 6vmin;
    height: 6vmin;
    border-radius: 100%;
	transform: rotate(0deg);
    background: 
		radial-gradient(circle at 50% 135%, #fff0 40%, var(--ar) calc(40% + 1px) 45%, #fff0 calc(45% + 1px) 100%), 
		radial-gradient(circle at 50% -35%, #fff0 40%, var(--ar) calc(40% + 1px) 45%, #fff0 calc(45% + 1px) 100%), 
		conic-gradient(from -45deg at 50% 60%, var(--ar) 0 25%, #fff0 0 100%), 
		conic-gradient(from 135deg at 50% 40%, var(--ar) 0 25%, #fff0 0 100%);
    background-size: 100% 20%, 100% 20%, 1.5vmin 1.5vmin, 1.5vmin 1.5vmin;
    background-repeat: no-repeat;
    background-position: 0% 27%, 0% 73%, 77% 47%, 23% 52%;
    transition: all 0.5s ease 0s;
    filter: drop-shadow(1px 1px 1px #0008) drop-shadow(-1px -1px 1px #fff2);
}

.star-label[for=rs0]:hover:before {
	--ar: #e2f2ff;
	transform: rotate(270deg);
	transition: all 0.5s ease 0s;
	filter: 
		drop-shadow(-1px -1px 1px #0008) 
		drop-shadow(1px 1px 1px #fff2) 
		drop-shadow(0px 5px 15px #b1ddff) 
		drop-shadow(0px 5px 30px #b1ddff);
}


/*  Search history drop-down  */

#recent-searches {
    position: absolute;
    background-color: rgba(24,156,167, 0.6); 
    border: none;
    align-items: center;
  }


#search-input {
    margin-left: -3%;
}

#search-input:focus {
    border-color: #00bbc8dc !important;
    box-shadow: 0 0 0 0.25rem rgba(0, 187, 200, 0.25) !important;
}


/*  Cover Image  */

.image-movie {
    width: 60%;
    height: auto;
    display: block;
    margin-right: 20px;
    display: inline-block;
}


/* Fallback Image */

.fallback-image {
    border-radius: 50%;
}



#search-movie-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    color: #108b94;
}


#search-movie-review {
    color: rgba(255, 255, 255, 0.788);
}

#search-movie-overview {
    color: rgba(182, 174, 174, 0.865);
    font-size: 20px;
    padding-top: 15px;
}


.release-vote {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.626);
    font-size: 19px;

}

/* release-date */

.release-date-overview {
    margin-top: 8%;
}

.release-date-color {
    font-family: 'Lato', sans-serif;
    color: rgb(0 255 68 / 54%);
    font-size: 21px;
}

/* rating */

.rating-color {
    font-family: 'Lato', sans-serif;
    color: #fff70091;
    font-size: 21px;
}

/* overview link */
.overview-link {
    padding: 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    border: 1px solid rgba(255, 0, 0, 0.524);
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.524);
    color: #ffffff94;
}

.overview-link:hover {
    color: #ffffff;
    background-color: #00b8d9cb;
    border: 1px solid white;
}

.block-divider {
    width: 50%;
    height: 8px;
    background-color: #00fbff5f;
    margin: 0 auto;
}


/*    NEWS PAGE    */

.news-container {
    padding-top: 8%;
}

/* News header */
h1.news strong {
    font-size: 4.0rem;
    color: #810049b1;
    text-shadow:
        0 0 5px #10a5b0b5,
        0 0 10px #10a5b0b5,
        0 0 20px #10a5b0b5,
        0 0 40px #10a5b0b5,
        0 0 80px #10a5b0b5,
        0 0 90px #10a5b0b5,
        0 0 100px #10a5b0b5,
        0 0 150px #10a5b0b5;
}

/* Background Image News */
.news-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url(../media/news-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    z-index: -1;
    filter: blur(4px);
}

.news-bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); /* halvgenomskinlig svart färg */
    z-index: 1; 
}


.container-fluid {
    overflow-x: hidden;
    position: relative;
}

.news-block {
    width: 50%;
    height: 8px;
    background-color: #a5487d9d;
    margin: 0 auto;
}

.movie {
    align-items: center;
    margin-bottom: 20px;
    display: flex;
}

.movie h3 {
    margin: 10px 0;
}

.movie h4 {
    margin: 10px 0;
}

.movie-details {
    text-align: left;
}

.movie-details h3 {
    margin: 10px 0;
}

.movie-details h4 {
    margin: 10px 0;
}


/*   Footer   */
.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    min-height: 100vh;
}

.errorlist {
    font-size: 12px;
}