{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=PT+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %} Movie Base {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
    <link rel="stylesheet" href="{% static 'css/movie_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/movie_overview.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/search_results.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_reviews.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

    <link rel="icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
</head>

<body data-logout-url="{% url 'movies:user_logout' %}">
    <header>
        <!--  Navbar  -->
        <nav class="navbar navbar-expand-md bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
            <div class="container base" id="dropdown-menu-bg">
                <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span id="custom-toggler-icon">Movie Base</span>
                    <span class="down-arrow"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <div class="row col-md-4 custom-links">
                        <ul class="navbar-nav me-auto mb-1 mb-lg-0 navbar-dropdown-custom">
                            {% if user.is_authenticated %}
                            <li id="login-logout" class="nav-item m-1 dropdown">
                                <a class="nav-link dropdown-toggle nav-links-hover" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" data-bs-target="#dropdownMenu" aria-haspopup="true"
                                    aria-expanded="false" href="#">Profile</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a href="{% url 'movies:user_profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url  'movies:my_reviews' %}" class="dropdown-item">My Reviews</a>
                                </div>
                            </li>
                            {% endif %}
                            <li class="nav-item m-1">
                                <a href="{% url 'movies:contact' %}" class="nav-link nav-links-hover">Contact</a>
                            </li>
                            <li class="nav-item m-1">
                                <a class="nav-link nav-links-hover recommendations-nav"
                                    href=" {% url 'movies:movie_list' %}">Recommendations</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item m-1">
                                <a class="nav-link nav-links-hover" href="{% url 'movies:user_logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item m-1">
                                <a class="nav-link login-register nav-links-hover"
                                    href="{% url 'movies:user_login' %}">Login<strong class="custom-slash"> /
                                    </strong>Register</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="row col-md-4">
                        <a class="navbar-brand text-center brand-logo d-none d-lg-block"
                            href="{% url 'movies:movie_list' %}">Movie Base</a>
                    </div>

                    <!--  Search Form  -->
                    <div class="row col-md-4">
                        <div class="search-container">
                            <form class="d-flex" action="{% url 'movies:search_movies' %}" method="get"
                                autocomplete="off">

                                <div class="dropdown">
                                    <input class="form-control-search" type="text" name="query"
                                        placeholder="Search for movies" aria-label="Search" autocomplete="off"
                                        id="search-input" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="dropdown-menu search-history-dropdown" id="recent-searches">
                                        <!-- Recent searches here -->
                                    </div>
                                </div>

                                <button class="btn btn-outline-light" id="search-button-base"
                                    type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <!--  Search Form  /-->

                </div>
            </div>
        </nav>
        <!--  Navbar  /-->
    </header>

    <!--  Main content from extended templates  -->
    <div class="main-content">
        <div class="content">
            <main>
                {% block content %}

                {% endblock %}
            </main>
        </div>
        <!--  Main content from extended templates  /-->

        <!--  Footer  -->
        <footer class="text-center text-light bg-dark">

            <!--  Social links  -->
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 p-3"
                        style="background-color: rgba(0, 0, 0, 0.05);">
                        <div class="row"> 
                            <div class="col-4 col-md-4 social-icons-footer">
                                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter mx-2"></i></a>
                                <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram mx-2"></i></a>
                                <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github mx-2"></i></a>
                                <a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin mx-2"></i></a>
                                <a href="https://reddit.com/" target="_blank"><i class="fa-brands fa-reddit mx-2"></i></a>
                            </div>
                            <div class="col-8 col-md-8 text-center">
                                <p>© 2023 Soroush G-Reza Portfolio Project</p>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

        </footer>
        <!-- Footer /-->
    </div>

    <!--  Scripts  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/imageHandler.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <!-- Scripts /-->
</body>

</html>