{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Movie Base {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>

            {% if user.is_authenticated %}
                <a href="{% url 'movies:user_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'movies:user_login' %}">Login</a>
            {% endif %}

        </nav>
    </header>
    <main>
        {% block content %}
            Main content from every page
        {% endblock %}
    </main>
    <footer>
        Contact / Copyright / Link to github / LinkedIn etc
    </footer>
</body>
</html>