{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="register-bg"></div>
    <div class="register-bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8">
                <div id="register-form" class="centered">
                    <div class="card register-card">
                        <div class="card-body register-card-body">
                            <h2 class="register-form-header">Register</h2>
                            <form id="register-form-id" method="post" class="mt-3">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label class="register-form-labels" for="{{ form.username.id_for_label }}">Username:</label>
                                    <input placeholder="Enter a {{ form.username.label|lower }} here.." type="text" name="{{ form.username.name }}" class="form-control register-inputs"
                                        id="{{ form.username.id_for_label }}"
                                        value="{{ form.username.value|default_if_none:'' }}">
                                </div>

                                <div class="form-group">
                                    <label class="register-form-labels" for="{{ form.email.id_for_label }}">Email:</label>
                                    <input type="email" name="{{ form.email.name }}" class="form-control register-inputs"
                                        id="{{ form.email.id_for_label }}" placeholder="Enter {{ form.email.label|lower }} here..">
                                </div>

                                <div class="form-group">
                                    <label class="register-form-labels" for="{{ form.password1.id_for_label }}">Password:</label>
                                    <input type="password" name="{{ form.password1.name }}" class="form-control register-inputs"
                                        id="{{ form.password1.id_for_label }}"
                                        value="{{ form.password1.value|default_if_none:'' }}" placeholder="Enter {{ form.password1.label|lower }} here..">
                                </div>

                                <div class="form-group">
                                    <label class="register-form-labels" for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                                    <input type="password" name="{{ form.password2.name }}" class="form-control register-inputs"
                                        id="{{ form.password2.id_for_label }}"
                                        value="{{ form.password2.value|default_if_none:'' }}" placeholder="Enter {{ form.password2.label|lower }} here..">
                                </div>

                                <button type="submit" class="btn btn-primary register-form-button">Register</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}