{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Movie Base {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            Logo / Menu / Login / Logout / Register
        </nav>
    </header>
    <main>
        {% block content %}
            <h2>Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
    {% endblock %}
    </main>
    <footer>
        Contact / Copyright / Link to github / LinkedIn etc
    </footer>
</body>
</html>