{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container contact-container">
    <div class="contact-bg"></div>
    <div class="row">
        <div class="col-10 col-md-8 col-sm-12">
            <form id="contact-form">
                <h3 class="contact-form-header">Contact Us</h3>
                {% csrf_token %}
                <div class="mb-3 contact-name">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control form-control-contact" id="name" placeholder="Enter your name" required>
                </div>
                <div class="mb-3 contact-email">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-contact" id="email" placeholder="Enter your email" required>
                </div>
                <div class="mb-3 contact-message">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control form-control-contact" id="message" rows="2" placeholder="Type you message" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary send-button">Send</button>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}