{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Container to display Django messages dynamically -->
<div class="messages-container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
        <!-- Close button for each alert message -->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
</div>

<!-- Hidden alert to display AJAX success message dynamicaly -->
<div id="ajax-success-message" class="alert alert-success" role="alert" style="display: none;">
    Your review has been updated and is pending for approval.
</div>

<!-- Main container for displaying reviews -->
<div class="container-fluid my-reviews-container">

    <!-- Page Background image -->
    <div id="my-reviews-bg">
        <!-- Background page overlay -->
        <div id="my-reviews-bg-overlay"></div>

        <!-- My reviews -->
        <div class=" row col-6 col-lg-6  col-sm-10 my-reviews-div">
            <h2 id="my-reviews-header">My Reviews</h2>

            <!-- Loop through reviews -->
            {% for review in reviews %}
            <div class="review-item-my-reviews">
                <!-- Review title -->
                <div class="review-movie-title"><strong id="review-user">{{ review.movie_title }}</strong></div>
                <div class="review-text" data-full-text="{{ review.text }}">
                    <!-- If reviews i longer then 100 characters, only show 100 characters -->
                    {{ review.text|slice:":100" }}
                    {% if review.text|length > 100 %}

                    <!-- Link to show full review -->
                    ... <a href="#" class="show-full-review">Show full review</a>
                    {% endif %}
                </div>

                <!-- User rating -->
                <div class="rating-user">{{ review.rating_as_stars }}</div>

                <!-- Creation date of review -->
                <div class="date-created">{{ review.date_created|date:"Y-m-d"}}</div>

                <!-- Delete Button to delete Review (Triggers Modal) -->
                <button id="delete-my-review" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#deleteModal{{ review.id }}" data-review-id="{{ review.id }}">Delete</button>

                <!-- Delete Confirmation Modal -->
                <div class="modal fade col-5 col-md-5 col-lg-10" id="deleteModal{{ review.id }}" tabindex="-1"
                    role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                <button type="button" class="close" id="close-review-modal" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this review?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a href="{% url 'movies:delete_review' review.id %}" class="btn btn-danger">Delete</a>
                            </div>


                            <!-- Edit Review Button -->
                            <a href="#" class="btn btn-primary" id="edit-review-button" data-bs-toggle="modal"
                                data-bs-target="#editReviewModal">Edit</a>

                            <!-- Edit Review Modal -->
                            <div class="modal fade" id="editReviewModal" tabindex="-1"
                                aria-labelledby="editReviewModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteAccountModalLabel">Edit Review</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="review-form transparent-bg" method="POST"
                                                action="{% url 'movies:edit_review' review.id %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="reviewText"
                                                        class="transparent-text user-review-label">Edit your
                                                        review</label>
                                                    <textarea
                                                        class="form-control-overview transparent-input text-light review-input"
                                                        id="reviewText" placeholder="Maximum 1000-letters" rows="2"
                                                        name="text" maxlength="1000"
                                                        required>{{ review.text }}</textarea>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Edit Review Button -->
                <a href="#" class="btn btn-primary" id="edit-review-button" data-bs-toggle="modal"
                    data-bs-target="#editReviewModal{{ review.id }}">Edit</a>

                <!-- Edit Review Modal -->
                <div class="modal fade" id="editReviewModal{{ review.id }}" tabindex="-1"
                    aria-labelledby="editReviewModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editReviewModalLabel">Edit Review</h5>

                                <!-- Edit Review BUtton -->
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Edit Review Form -->
                                <form class="review-form transparent-bg" method="POST"
                                    action="{% url 'movies:edit_review' review.id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="reviewText{{ review.id }}"
                                            class="transparent-text user-review-label">Edit your review</label>
                                        <textarea
                                            class="form-control-overview transparent-input text-light review-input"
                                            id="reviewText{{ review.id }}" placeholder="Maximum 1000-letters" rows="2"
                                            name="text" maxlength="1000" required>{{ review.text }}</textarea>
                                        {% if form.text.errors %}
                                        <div class="text-danger">
                                            {{ form.text.errors }}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <!-- Edit User Rating -->
                                    <!-- <div class="form-group">
                                        <label for="reviewRating" class="transparent-text user-review-label">Your rating</label>
                                        <select class="form-control-overview transparent-input text-light review-input" id="reviewRating" name="rating" required>
                                            <option value="" disabled selected>Select your rating</option>
                                            <option value="1" {% if review.rating == 1 %}selected{% endif %}>1</option>
                                            <option value="2" {% if review.rating == 2 %}selected{% endif %}>2</option>
                                            <option value="3" {% if review.rating == 3 %}selected{% endif %}>3</option>
                                            <option value="4" {% if review.rating == 4 %}selected{% endif %}>4</option>
                                            <option value="5" {% if review.rating == 5 %}selected{% endif %}>5</option>
                                        </select>
                                    </div>                                     -->
                                    <!--    Star Rating    -->
                                    <div class="row col-12 edit-star-rating justify-content-center">
                                        <p class="edit-rate-movie-p">Rate Movie</p>
                                        <div id="edit-stars-div">
                                            <div class="rating-stars">
                                                <input class="star-label rating-star" value="1" type="radio"
                                                    name="rating" id="rs1"><label class="star-label" for="rs1"></label>
                                                <input class="star-label rating-star" value="2" type="radio"
                                                    name="rating" id="rs2"><label class="star-label" for="rs2"></label>
                                                <input class="star-label rating-star" value="3" type="radio"
                                                    name="rating" id="rs3" checked><label class="star-label"
                                                    for="rs3"></label>
                                                <input class="star-label rating-star" value="4" type="radio"
                                                    name="rating" id="rs4"><label class="star-label" for="rs4"></label>
                                                <input class="star-label rating-star" value="5" type="radio"
                                                    name="rating" id="rs5"><label class="star-label" for="rs5"></label>
                                                <span class="number"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal Close and Save buttons -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger">Save</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    // Hide messages after 5 seconds
    setTimeout(function () {
        const ajaxSuccessMessageElement = document.getElementById('ajax-success-message');
        if (ajaxSuccessMessageElement) {
            ajaxSuccessMessageElement.style.display = 'none';
        }
    }, 5000);
</script>

{% endblock %}