{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>User Profile</h2>
    <p><strong>Name: </strong>{{ user.username }}</p>
    <p><strong>E-mail: </strong>{{ user.email }}</p>
    <a href="#" class="btn btn-primary" id="edit-profile-button">Edit Profile</a>
    <div style="display: none;" {% if form.errors or password_form.errors %} class="show-message" {% endif %}>
        <form id="edit-profile-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <h3>Change Password</h3>
            {{ password_form.as_p }}
            <button type="submit">Update Profile</button>
        </form>
    </div>
</div>
{% endblock %}