{% extends 'base.html' %}
{% load static %}

{% block title %} User Profile {% endblock %}

{% block content %}

<div class="messages-container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
</div>


<div class="container-fluid profile-container">
    <div id="user-profile-bg">
        <div id="user-profile-bg-overlay"></div>

        <div class="row col-10 col-md-7 col-sm-12">
            <div class="user-profile-div">
                <h2 id="user-profile-header">User Profile</h2>
                <p class="user-info"><strong>Username: </strong>{{ user.username }}</p>
                <p class="user-info"><strong>E-mail: </strong>{{ user.email }}</p>
                <!--  Link to my reviews page  -->

                <div class="col-10 col-md-10">
                    <!-- Edit Prfofile Button -->
                    <a href="#" class="btn btn-primary profile-page-buttons" id="edit-profile-button">Edit Profile</a>

                    <!-- My Reviews Button -->
                    <a id="my-reviews-button" class="btn btn-primary profile-page-buttons" href="{% url 'movies:my_reviews' %}">My
                        Reviews</a>

                    <!-- Delete Account Button -->
                    <a href="#" class="btn btn-primary profile-page-buttons" id="delete-account-button" data-bs-toggle="modal"
                        data-bs-target="#deleteAccountModal">Delete Account</a>

                    <!-- Delete Account Modal -->
                    <div class="modal fade" id="deleteAccountModal" tabindex="-1"
                        aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header delete-account-modal-header">
                                    <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete your account? All your data including
                                        your reviews will be lost. <br><br>
                                        If yes are certain, type your password to verify.
                                    <form method="post" action="{% url 'movies:delete_account' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="markup_validation_fix{{ form.password.id_for_label }}">Password:</label>
                                            <input type="password" name="password" class="form-control modal-password-input"
                                                id="markup_validation_fix{{ form.password.id_for_label }}" autocomplete="new-password">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete Account</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="edit-profile-form" style="display: none;">
                    <form method="post" enctype="multipart/form-data" class="mt-3">
                        {% csrf_token %}
                        <h4 class="form-headers-profile-page">Update Email</h4>
                        <div class="form-group">
                            <input type="email" id="{{ profile_form.email.id_for_label }}"
                                name="{{ profile_form.email.name }}" class="form-control-input password-fields-custom"
                                placeholder="New email here.." value="{{ user.email }}">
                        </div>
                        <h4 id="change-password-header" class="form-headers-profile-page">Change Password</h4>
                        <div class="form-group">
                            {% for field in password_form %}
                            <label class="profile-form-labels" for="password-input-{{ forloop.counter }}">{{ field.label }}:</label>
                            <input placeholder="Enter {{ field.label|lower }} here.." type="{{ field.field.widget.input_type }}"
                                id="password-input-{{ forloop.counter }}" name="{{ field.name }}"
                                class="form-control-input password-fields-custom"
                                value="{{ field.value|default_if_none:'' }}">
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary" id="update-profile-button">Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Hide messages after 5 seconds
    setTimeout(function () {
        const alertElements = document.querySelectorAll('.alert');
        if (alertElements) {
            alertElements.forEach((element) => {
                element.style.display = 'none';
            });
        }
    }, 8000);
</script>


{% endblock %}