{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="callout-container container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="nav-alert-container col-12 col-md-8 col-lg-6">
                {% if messages %}
                {% for message in messages %}
                <div id="danger" class="alert alert-danger" role="alert">
                    {{ message }}
                    <button type="button" class="close" onclick="closeMessage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div id="login-form" class="centered">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-light">Login</h2>
                            <form class="text-light just" action="/movies/login/" method="post">
                                {% csrf_token %}
                                {{ form.as_p }} 
                                <br>
                                <button id="login-button" type="submit" class="btn btn-success btn-lg">Login</button> <br>
                                <p id="not-a-member">Not a member? Press Register to Signup.</p>
                                <p id="not-a-member">Press Register to Signup.</p>
                                <a id="register" href="{% url 'movies:register' %}" class="btn btn-primary btn-lg">Register</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8">
            <!-- Add upcoming movies here later -->
            <h1>Upcoming Movie Suggestions: </h1>

        </div>
        <div class="col-12 col-md-8">
            <h3>Connect to API to gather data from TMDB</h3>
        </div>
    </div>
</div>

<script>
    // Hide messages after 5 seconds
    setTimeout(function () {
        document.getElementById('danger').style.display = 'none';
    }, 5000);

    // Function to manually close the message
    function closeMessage() {
        document.getElementById('danger').style.display = 'none';
    }
</script>

{% endblock %}